<div className='container'>
    <h2>Job Application Form</h2>
    <form action="" className='form'>
        <label>First Name: <input type="text"  /></label>
        <label>Last Name: <input type="text"  /></label>
        <label>Enter Email: <input type="text"  /></label>
        <label>Contact: <input type="text"  /></label>
        <label>Gender:
            <input type="radio" /> Male
            <input type="radio" /> Female
            <input type="radio" /> Other
        </label>
        <label>Your Best Subject:
            <input type="checkbox" /> English
            <input type="checkbox" /> Maths 
            <input type="checkbox" /> Physics
        </label>
        <label>Upload Resume: <input type="file"  /></label>
        <label>LinkedIn URL: <input type="text"  /></label>
        <label>About <textarea name="about" id="about" cols="30" rows="10" /></label>
        <input type="reset" value="Reset" />
        <input type="submit" value="Submit" />
    </form>  
</div>